<div class="w3-sidebar w3-bar-block w3-card w3-animate-left flex-sidenav" id="sidebarL">
  <div class="name-display"><p>{{user.title}}</p><p class="username">{{user.username}}</p></div>
  <button mat-raised-button color="primary"
    onclick='document.getElementById("titleWindow").style.display = "block"'>Titles</button>
  <button mat-raised-button color="primary"
    onclick='document.getElementById("achievementWindow").style.display = "block"'>Achievements</button>
  <button mat-raised-button class="w3-hide-large" 
    onclick='document.getElementById("sidebarL").style.display = "none"'>back</button>
</div>

<div class="w3-sidebar w3-bar-block w3-card w3-animate-right flex-sidenav" id="sidebarR">
  <spinner-container
      color="accent"
      diameter="248"
      strokeWidth="24"
      [value]="spinnerProgress"
      [displayWith]="spinnerLabel">
  </spinner-container>
  <p>Next level: {{user.experience | number:'1.0-0'}}/{{user.getMaxExperience()}} XP</p>
  <button mat-raised-button class=" w3-hide-large" onclick='document.getElementById("sidebarR").style.display = "none"'>back</button>
</div>

<div class="flex-header background-primary">
  <button class="w3-button background-primary" onclick='document.getElementById("sidebarL").style.display = "flex";'><i class="material-icons">menu</i></button>
  <div class="name-display"><p>{{user.title}}</p><p class="username">{{user.username}}</p></div>
  <button class="w3-button background-primary" onclick='document.getElementById("sidebarR").style.display = "flex";'>
    <div class="spinner-container">
      <spinner-container
      color="accent"
      diameter="60"
      strokeWidth="5"
      [value]="spinnerProgress"
      [displayWith]="spinnerLabel">
  </spinner-container>
    </div>
  </button>
</div>

<div id="gamemap"><app-map></app-map></div>

<div #titleWindow id="titleWindow"><app-title (back)="back()"></app-title></div>
<div #achievementWindow id="achievementWindow">
  <app-achievements (back)="back()"></app-achievements>
</div>